   

<style>
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 40%;
    height: 40%;
  }
  
  div.desc {
    padding: 15px;
    text-align: left;
    background-color: rgb(255, 255, 255);
font-weight: bolder;  
font-size: 37px;
font-family:sans-serif;
}



  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
 
  
  </style>
    



    <div class="gallery">
      <a target="assets/img/template1.jpg" data-lightbox-gallery="zenda-gallery">
  
    <img src="assets/img/template1.jpg" alt="gallery img"  width="800" height="800" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="assets/img/template2.jpg" alt="gallery img"  width="600" height="500">

 
      
      </a>
      <div class="desc">Photographer Templates</div>
      
    </div>
    
  
    <div class="gallery">
        <a target="assets/img/template3.jpg" data-lightbox-gallery="zenda-gallery">
            <img src="assets/img/template3.jpg" alt="gallery img"  width="600" height="500"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/img/template4.png" alt="gallery img"  width="600" height="500">

          </a>
      <div class="desc">Web Designer Templates</div>
    </div>
    
  
    
    <div class="gallery">
        <a target="assets/img/template5.png" data-lightbox-gallery="zenda-gallery">
            <img src="assets/img/template5.png" alt="gallery img"  width="600" height="500">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/img/template6.jpg" alt="gallery img"  width="600" height="500">

          </a>
      <div class="desc">Stylist Templates</div>
    </div>
    

    <div class="gallery">
        <a target="assets/img/template7.png" data-lightbox-gallery="zenda-gallery">
            <img src="assets/img/template7.png" alt="gallery img"  width="600" height="500">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/img/template8.jpg" alt="gallery img"  width="600" height="500">

          </a>
      <div class="desc">Developer Templates</div>
    </div>
